<!doctype html>
<html>
   <style>
		body { background: #e8f1f9; }
	</style>
   <body>
   
      <h1>Jeremy's Trade Tracker</h1>
      <h2>Current Value: ${{value}}</h2>
      <a href="http://192.168.86.61:6969/history">View Charts</a></br>
      <a href="http://192.168.86.61:6969/trackedTrades/Table">View Tracked Trade Table</a></br>
      <a href="http://192.168.86.61:6969/summary">Summaries</a></br>
      <a href="http://192.168.86.61:6969/analysis">Analysis</a></br>
      <a href="http://192.168.86.61:6969/tx">View All Transactions Table</a></br>
      <a href="http://192.168.86.61:6969/historyTable">View History Table</a></br>
      <a href="http://192.168.86.61:6969/enter">Enter a Trade</a></br>
      <a href="http://192.168.86.61:6969/trackedTrades/Enter">Enter a Trade to Track</a></br>
      
   </body>
</html>