<!doctype html>
<html>
   <style>
		body { background: #e8f1f9; }
	</style>
   <body>
   
      <h1>Jeremy's Trade Tracker</h1>
      <h2>Current Value: ${{value}}</h2>
      <a href="http://{{ip}}:{{port}}/history">View Charts</a></br>
      <a href="http://{{ip}}:{{port}}/trackedTrades/Table">View Tracked Trade Table</a></br>
      <a href="http://{{ip}}:{{port}}/summary">Summaries</a></br>
      <a href="http://{{ip}}:{{port}}/analysis">Analysis</a></br>
      <a href="http://{{ip}}:{{port}}/tx">View All Transactions Table</a></br>
      <a href="http://{{ip}}:{{port}}/historyTable">View History Table</a></br>
      <a href="http://{{ip}}:{{port}}/enter">Enter a Trade</a></br>
      <a href="http://{{ip}}:{{port}}/trackedTrades/Enter">Enter a Trade to Track</a></br>
      <br>
      <br>
      <a href="http://{{ip}}:{{port}}/budget">Budget</a></br>
      
   </body>
</html>