<!doctype html>
<html>
   <style>
		body { background: #e8f1f9; }
	</style>
   <body>
   
      <h1>{{table_name}}</h1>
      <h2>Current Value: ${{value}}</h2>
      <a href="http://{{ip}}:{{port}}">Home</a><br>
      Summaries: 
      <a href="http://{{ip}}:{{port}}/summary/brokerage">Brokerage</a>&nbsp;
      <a href="http://{{ip}}:{{port}}/summary/ira">Roth IRA</a>&nbsp;
      <a href="http://{{ip}}:{{port}}/summary/crypto">crypto</a>&nbsp;
      <a href="http://{{ip}}:{{port}}/summary/trad_401k">Trad 401k</a>&nbsp;
      <a href="http://{{ip}}:{{port}}/summary/roth_401k">Roth 401k</a><br>
      Transaction Tables: 
      <a href="http://{{ip}}:{{port}}/tx/brokerage">Brokerage</a>&nbsp;
      <a href="http://{{ip}}:{{port}}/tx/ira">Roth IRA</a>&nbsp;
      <a href="http://{{ip}}:{{port}}/tx/crypto">crypto</a>&nbsp;
      <a href="http://{{ip}}:{{port}}/tx/trad_401k">Trad 401k</a>&nbsp;
      <a href="http://{{ip}}:{{port}}/tx/roth_401k">Roth 401k</a>&nbsp;
      {{table|safe}}
      
   </body>
</html>
