<!doctype html>
<html>
   <style>
		body { background: #e8f1f9; }
	</style>
   <body>
   
      <h1>{{table_name}}</h1>
      <h2>Current Value: ${{value}}</h2>
      <a href="/">Home</a><br>
      <a href="/summary">Summaries:</a>&nbsp;
      <a href="/summary/brokerage">Brokerage</a>&nbsp;
      <a href="/summary/ira">Roth IRA</a>&nbsp;
      <a href="/summary/crypto">crypto</a>&nbsp;
      <a href="/summary/trad_401k">Trad 401k</a>&nbsp;
      <a href="/summary/roth_401k">Roth 401k</a><br>
      Transaction Tables: 
      <a href="/tx/brokerage">Brokerage</a>&nbsp;
      <a href="/tx/ira">Roth IRA</a>&nbsp;
      <a href="/tx/crypto">crypto</a>&nbsp;
      <a href="/tx/trad_401k">Trad 401k</a>&nbsp;
      <a href="/tx/roth_401k">Roth 401k</a>&nbsp;
      {{table|safe}}
      
   </body>
</html>
